* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-image: linear-gradient(to top, white, lightblue);
  padding: 0.5rem 1rem;
  z-index: 999;
  box-shadow: 0px 1px 0px #111010;
  border-radius: 10px; }
  header .nav-item {
    border-bottom: 2px solid;
    margin-bottom: 10px;
    box-shadow: 1px 0px;
    border-radius: 20%; }
  header .nav-item:hover {
    background-color: aqua; }
  header img {
    width: 50px;
    border-radius: 50%; }

.index_main {
  width: 80%;
  height: 80%;
  box-shadow: 0px 0.5px 10px white;
  background-image: linear-gradient(to right, white, lightblue);
  padding: 10px 10px 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto; }
  .index_main .carousel {
    margin: auto;
    padding: 2rem 2rem;
    max-width: 400px;
    text-align: center;
    background-color: var(--carousel-bg-color);
    overflow-x: hidden; }
    .index_main .carousel img {
      width: 200px;
      height: 300px;
      border-radius: 20%;
      box-shadow: 0px 1px 1px grey; }
    .index_main .carousel img:hover {
      transform: scale(1.1);
      transition: 0.5s; }

body {
  background-image: radial-gradient(grey, white);
  align-items: center; }
  body .container_mediosdepago {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    body .container_mediosdepago img {
      width: 50px;
      border-radius: 50%; }
    body .container_mediosdepago img:hover {
      transform: scale(1.2);
      transition: 1s; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 5px 5px 10px black;
  margin: 0px 0px 0px 0px;
  padding-bottom: 0px;
  width: 100%;
  bottom: 0;
  position: fixrelativeed; }
  footer .container_redes {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    footer .container_redes img {
      width: 50px;
      margin-left: 50px; }
    footer .container_redes img:hover {
      transform: scale(1.5);
      transition: 1s; }
  footer .politicas ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    footer .politicas ul li {
      list-style: none; }
