@import "variables";
.main_about{
    width: 80%;
    height: 80%;
    box-shadow: 0px 0.5px 10px $color2;
    background-image: linear-gradient(to right, $color2, $color1);
    padding: 10px 10px 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    img{
        width: 200px;
        height: 250px;
        border-radius: 20%;
    }
    .video{
        width: 220px;
        height: 250px;
    }
    @media screen and (min-width: 768px){
        .video{
            width: 600px;
            height: 400px;
        }
    }
}

