@import "variables";

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-image: linear-gradient(to right, $color2, $color1);
    padding: 0.5rem 1rem;
    z-index: 999;
    box-shadow: 0px 1px 0px rgb(17, 16, 16);
    border-radius: 10px;
    margin-bottom: 20px;
    .nav-item{
        margin-left: 10px;
        margin-bottom: 10px;
        border-radius: 20%;
    &:hover{
        background-color: rgb(157, 168, 168);
    }
}
    img{
        width: 50px;
        border-radius: 50%;
    }
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px 5px 10px black;
    padding-top: 10px;
    width: 100%;
    bottom: 0;
    position:fixrelativeed;
    background-image: linear-gradient(to right, $color2, $color1);
    border-radius: 10px;
    .container_redes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        img{
            width: 50px;
            margin-left: 50px;
        
        &:hover{
            transform: scale(1.5);
            transition: 1s;
        }
    }
    }
    .politicas {
        margin-top: 10px;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            li{
            list-style: none;
            }
        }
    }

}