@import "variables";
.index_main{
    width: 80%;
    height: 80%;
    box-shadow: 01px 0.5px 10px grey;
    background-image: linear-gradient(to right, $color2, $color1);
    padding: 10px 10px 10px;
    padding-bottom: 200px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    .containerindex{
        display: flex;
        flex-direction: column;
        
    }
    .fotograf{
        grid-area: foto;
        display: flex;
        justify-content: flex-end;
    }
    img{
        
        width: 250px;
        border-radius: 20px;
        height: 250px;
    }
    p{
        text-align: justify;
        
    }
   .index_tipo1{
        grid-area: parrafo1;
        justify-content: center;
        align-content: center;
    }
    .index_tipo2{
        grid-area: parrafo2;
    }
    .index_tipo3{
        grid-area: parrafo3;
    }
    @media screen and (min-width: 768px){
        img{
            width: 300px;
            height: 300px;
        }
        .containerindex{
            display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1/2fr 1fr;
        grid-template-areas: 
        "parrafo1 foto"
        "parrafo2 parrafo2"
        "parrafo3 parrafo3";
        }
        
    }
    .carousel {
        margin: auto;
        padding: 2rem 2rem;
        max-width: 600px;
        text-align: center;
        background-color: var(--carousel-bg-color);
        overflow-x: hidden;
        img {
        width: 200px;
        height: 300px;
        border-radius: 20%;
        box-shadow: 0px 1px 1px $color3;
            &:hover {
            transform: scale(1.1);
            transition: 0.5s;
            }
        }
    }
}
body{
    background-color: black;
}
