* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
@import "index";
@import "header-footer";
@import "galery";
@import "about";
@import "contacto";
@import "tienda";
@import "variables";
@import "maps";
@import "extends";
@import "mixin";
body{
    background-image: linear-gradient(to right,lightblue, aqua);
    align-items: center;
    
}


